
<div class="feature-items">
    {% set cols = page.header.class == 'big' ? 'col-md-6' : 'col-md-3' %}
    {% for feature in page.header.features %}
        {% if feature.url %}<a href="{{feature.url}}">{% endif %}
        <div class="feature col-12 {{ cols }} {% if feature.icon %}has-icon{% endif %}">
            {% if feature.icon %}
                <i class="{{ feature.icon }} {{ feature.size }}"></i>
            {% endif %}

            <div class="feature-content {% if feature.icon %}push{% endif %}">
                {% if feature.header %}
                    <h4>{{ feature.header|raw }}</h4>
                {% endif %}

                {% if feature.text %}
                    <p>{{ feature.text|raw }}</p>
                {% endif %}
            </div>
        </div>
        {% if feature.url %}</a>{% endif %}
    {% endfor %}
</div>